body{
	background-color: #e74c3c;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #ecf0f1;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.container{
	max-width: 490px;
	max-height: 580px;
	position: relative;
	padding: 10px 5px;
	overflow: hidden;
	overflow-y: auto;
}

.step-2,
.step-3,
.step-4,
.step-5{
	display: none;
}

.pizza{
	width: 200px;
	height: 150px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 20px;
}

.pizza .thumbnail{
	width: 100%;
	height: 100px;
	background-size: cover;
	border:2px solid #c0392b;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 5px;
}

.pizza .thumbnail.selected{
	border-color: #fff;
}

.pizza .thumbnail:hover{
	border-color: #fff;
}

.pizza.pizza_1 .thumbnail{
	background-image: url("images/pizza_1.jpg");
}

.pizza.pizza_2 .thumbnail{
	background-image: url("images/pizza_2.jpg");
}

.pizza.pizza_3 .thumbnail{
	background-image: url("images/pizza_3.jpg");
}

.pizza.pizza_4 .thumbnail{
	background-image: url("images/pizza_4.jpg");
}

.pizza.pizza_5 .thumbnail{
	background-image: url("images/pizza_5.jpg");
}

.pizza.pizza_6 .thumbnail{
	background-image: url("images/pizza_6.jpg");
}

.step-4 .pizza,
.step-3 .pizza{
	width: 450px;
	height: 220px;
	margin-left: 19px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.step-4 .pizza .thumbnail,
.step-3 .pizza .thumbnail{
	height: 190px;
}

ul{
	display: inline-block;
	margin-top: 0px;
	float: left;
	padding-left: 20px;
	font-weight: bold;
}

ul.veggies{
	float: right;
	margin-right: 10px;
}

ul li{
	cursor: pointer;
	font-weight: normal;
	font-style: italic;
}

ul li:first-child{
	margin-top: 5px;
}

.navigation{
	margin-right: 18px;
	float: right;
}

.step-3 input{
	cursor: pointer;
}

.step-1{
	margin-bottom: -30px;
}

.clear{
	clear: both;
}

.step-1 input{
	outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid rgba(236,240,241,0.4);
	color: #ecf0f1;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	font-size: 16px;
}

button{
	background-color: #ecf0f1;
	border: 1px solid #A7A7A7;
	font-size: 15px;
	border-radius: 3px;
	line-height: 18px;
	color: #3D3D3D;
	cursor: pointer;
}

button:disabled{
	cursor: default;
	color: #838383;
}

button:disabled:hover{
	cursor: default;
	color: #838383;
	background-color: #ecf0f1;
	box-shadow: none;
}

button:hover{
	box-shadow: 0px 0px 6px #ecf0f1;
	color: #ecf0f1;
	background-color: #e74c3c;
}

.message{
	margin-left: 18px;
	border-bottom: 1px solid #ecf0f1;
}

.pizza .title{
	float: left;
}

.pizza .price{
	float: right;
}

.step-4 .message{
	margin-bottom: 10px;
}

.step-1 label{
	margin-left: 18px;
}

input[type="checkbox"]{
	margin-right: 4px;
}

.step-5 h2{
	text-align: center;
}

.step-5 h2:last-child{
	border-bottom: none;
}

.warning{
	display: none;
	clear: both;
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
	font-size: 18px;
	border: 2px dashed #ecf0f1;
	margin-left: 18px;
	margin-right: 20px;
}

.step-4 ul{
	float: none;
	display: block;
	margin-left: 18px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ecf0f1;
}

.step-4 .pizza{
	border-bottom: 1px solid #ecf0f1;
}

.addons{
	width: 470px;
}

.step-4 .addons li span,
.step-4 .total span{
	float: right;
}

.step-4 .total{
	margin-left: 18px;
	font-weight: bold;
	margin-right: 30px;
}

.step-3 ul.meat{
	margin-right: -30px;
}